<h2>My chars</h2>

<span *ngFor="let char of chars" (click)="onSelect(char)" [class.selected]="char === selectedChar">
    <button class="btn btn-primary">{{char.name}}</button>
  </span>

<div *ngIf="addingChar">
  <char-detail (close)="close($event)"></char-detail>
</div>
<div *ngIf="selectedChar">
  <h2>
    {{selectedChar.name | uppercase}}
  </h2>
  <div>
    <label>id: </label>{{selectedChar.id}}
    <label>account_name: </label>{{selectedChar.account_name}}
    <label>exp: </label>{{selectedChar.exp}}
  </div>
  <button (click)="gotoDetail()" class="btn btn-primary">Магазин</button>
</div>
