<div class="page-header">
        <h1><span class="glyphicon glyphicon-tower"></span> Регистрация</h1>
</div>
<!--
<a rel="nofollow" target="_blank" href="/client/index.php/site/signup">Регистрация в личном кабинете</a>
-->

<form name="userForm" ng-submit="processForm()" novalidate>
    
        <div id="name-group" class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine || errorName }">
                <label>Логин</label>
                <input type="text" name="name" class="form-control"  ng-model="formData.name" ng-minlength="2" ng-maxlength="45" required>
                <span class="help-block" ng-show="errorName">{{ errorName }}</span>
                <p ng-show="userForm.name.$error.minlength" class="help-block">name is too short.</p>
                <p ng-show="userForm.name.$error.maxlength" class="help-block">name is too long.</p>
        </div>

        <div id="password-group" class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine || errorPassword }">
                <label>Пароль</label>
                <input type="text" name="password" class="form-control" ng-model="formData.password" ng-minlength="4" ng-maxlength="30" required>
                <span class="help-block" ng-show="errorPassword">{{ errorPassword }}</span>
                <p ng-show="userForm.password.$error.minlength" class="help-block">password is too short.</p>
                <p ng-show="userForm.password.$error.maxlength" class="help-block">password is too long.</p>
        </div>
    
        <div id="password_repeat-group" class="form-group" ng-class="{ 'has-error' : userForm.password_repeat.$invalid && !userForm.password_repeat.$pristine || errorPasswordRepeat }">
                <label>Ещё раз пароль</label>
                <input type="text" name="password_repeat" class="form-control" ng-model="formData.password_repeat" ng-minlength="4" ng-maxlength="30" required>
                <span class="help-block" ng-show="errorPasswordRepeat">{{ errorPasswordRepeat }}</span>
                <p ng-show="userForm.password_repeat.$error.minlength" class="help-block">password_repeat is too short.</p>
                <p ng-show="userForm.password_repeat.$error.maxlength" class="help-block">password_repeat is too long.</p>
        </div>
    
        <div id="email-group" class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine || errorEmail}">
                <label>Email</label>
                <input type="email" name="email" class="form-control" ng-model="formData.email" required>
                <span class="help-block" ng-show="errorEmail">{{ errorEmail }}</span>
                <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
        </div>

        <button type="submit" class="btn btn-success btn-lg btn-block" ng-disabled="userForm.$invalid">
                <span class="glyphicon glyphicon-flash"></span> Зарегистрироваться!
        </button>
</form>

<!--
<br><pre> {{ formData }} </pre>
-->