<div class="page-header">
        <h1><span class="glyphicon glyphicon-tower"></span> Регистрация</h1>
</div>
<!--
<a rel="nofollow" target="_blank" href="/client/index.php/site/signup">Регистрация в личном кабинете</a>
-->

<div id="messages" ng-show="message">{{ message }}</div>

<form ng-submit="processForm()">
    
        <div id="name-group" class="form-group" ng-class="{ 'has-error' : errorName }">
                <label>Логин</label>
                <input type="text" name="name" class="form-control" placeholder="name"  ng-model="formData.name">
                <span class="help-block" ng-show="errorName">{{ errorName }}</span>
        </div>

        <div id="password-group" class="form-group" ng-class="{ 'has-error' : errorPassword }">
                <label>Пароль</label>
                <input type="text" name="password" class="form-control" placeholder="password" ng-model="formData.password">
                <span class="help-block" ng-show="errorPassword">{{ errorPassword }}</span>
        </div>
    
        <div id="password_repeat-group" class="form-group" ng-class="{ 'has-error' : errorPasswordRepeat }">
                <label>Ещё раз пароль</label>
                <input type="text" name="password_repeat" class="form-control" placeholder="password_repeat" ng-model="formData.password_repeat">
                <span class="help-block" ng-show="errorPasswordRepeat">{{ errorPasswordRepeat }}</span>
        </div>
    
        <div id="email-group" class="form-group" ng-class="{ 'has-error' : errorEmail }">
                <label>Email</label>
                <input type="text" name="email" class="form-control" placeholder="Email" ng-model="formData.email">
                <span class="help-block" ng-show="errorEmail">{{ errorEmail }}</span>
        </div>

        <button type="submit" class="btn btn-success btn-lg btn-block">
                <span class="glyphicon glyphicon-flash"></span> Зарегистрироваться!
        </button>
</form>

<br><pre> {{ formData }} </pre>