<ul class="nav navbar-nav">
  <li ng-class="{ active: isActive('/reg') }"><a href="#/reg">Регистрация</a></li>
  <li ng-class="{ active: isActive('/abyss') }"><a href="#/abyss">Abyss-игроки</a></li>
  <li ng-class="{ active: isActive('/legions') }"><a href="#/legions">Легионы</a></li>
  <li ng-class="{ active: isActive('/players') }"><a href="#/players">Топ игроков</a></li>
  <li><a rel="nofollow" target="_blank" href="/client" >Личный кабинет</a></li>
  <li><a rel="nofollow" target="_blank" href="http://forum.lineage7.ru/index.php?c=3">Форум</a></li>
</ul>