	  <div class="list-group">
		<span class="list-group-item active">Статистика</span>
		<span class="list-group-item">login: {{stat.login_status}}</span>
		<span class="list-group-item">game: {{stat.game_status}}</span>
		<span class="list-group-item">online:{{stat.count_online}}</span>
		<span class="list-group-item">аккаунтов: {{stat.count_account}}</span>
		<span class="list-group-item">персонажей: {{stat.count_char}}</span>
		<span class="list-group-item">парней в aion: {{stat.count_male}}</span>
		<span class="list-group-item">девушек в aion: {{stat.count_female}}</span>
		<span class="list-group-item">элийцы: {{stat.count_elyos}}</span>
		<span class="list-group-item">асмодиане: {{stat.count_asmodian}}</span>
	  </div>
