<div class="row">
    <div class="col-sm-6">
        <h1>Login</h1>

        <form (ngSubmit)="onSubmit(loginForm.value)" [ngFormModel]="loginForm" class="login-form">

            <div class="form-group">
                <label for="login-name">Name</label>
                <input type="text" ngControl="name" #name="ngForm" class="form-control" id="login-name">
            </div>
            <div *ngIf="name.control.hasError('required') && name.control.touched" class="alert alert-danger">
                name is required
            </div>
            <div *ngIf="name.control.hasError('name') && name.control.touched" class="alert alert-danger">
                name is invalid
            </div>

            <div class="form-group">
                <label for="login-password">Password</label>
                <input type="password" ngControl="password" #password="ngForm" class="form-control" id="login-password">
            </div>
            <div *ngIf="password.control.hasError('required') && password.control.touched" class="alert alert-danger">
                Password is required
            </div>

            <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>