
<h1 class="page-header">Топ игроков</h1>

<table class="table table-bordered table-hover">
	<tr> 
		<th>Ник</th> 
		<th>Уровень</th>
		<th>Расса</th>
                <th>Пол</th>
                <th>Класс</th>
                <th>Титул</th>
                <th>Положение</th>
                <th>Онлайн</th>
                
	</tr>
	<tr *ngFor="#item of items | async">
		<td>{{item.p_name}}</td>
		<td>{{getLevelByExp(item.exp)}}</td>
		<td>{{item.race}}</td>
		<td>{{item.gender}}</td>
		<td>{{item.player_class}}</td>
		<td>{{getTitle(item.title_id)}}</td>
		<td>{{getWorld(item.world_id)}}</td>
		<td>{{item.online}}</td>
	</tr>
</table>