<h1 class="page-header">История</h1>
<div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>

<table class="table table-hover table table-bordered m-grid">
    <thead>
        <tr>
            <th *ngFor="let column of columns" [ngTableSorting]="config" [column]="column" (sortChanged)="onChangeTable($event)">
                {{column.title}}
                <i *ngIf="config && column.sort" class="pull-right fa" [ngClass]="{'fa-chevron-down': column.sort === 'desc', 'fa-chevron-up': column.sort === 'asc'}"></i>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td *ngFor="let column of columns">
                <input *ngIf="column.filtering" [ngTableFiltering]="column.filtering" class="form-control" (tableChanged)="onChangeTable(config)" />
            </td>
            <td></td>
        </tr>
        <tr *ngFor="let item of items">
            <td *ngFor="let column of columns">{{item[column.name]}}</td>
            <td class="action-column">
            </td>
        </tr>
    </tbody>
</table>
<pagination [boundaryLinks]="true" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" [(ngModel)]="currentPage" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)"></pagination>
