<div class="page-header">
  <h1>Обратная связь</h1>
</div>

<div class="row">
  <div class="col-sm-6" [hidden]="submitted">
    <form (ngSubmit)="onSubmit(contactForm.value)" [ngFormModel]="contactForm">

      <div class="form-group">
        <label for="сontact-name">Ваше имя</label>
        <input type="text" class="form-control" required ngControl="name" #name="ngForm" id="сontact-name">

        <div *ngIf="name.control.hasError('required') && name.control.touched" class="alert alert-danger">
          name is required
        </div>
        <div *ngIf="name.control.hasError('minlength') && name.control.touched" class="alert alert-danger">
          name is too short
        </div>
        <div *ngIf="name.control.hasError('maxlength') && name.control.touched" class="alert alert-danger">
          name is too long
        </div>
      </div>
      <p [hidden]="!result.err_name" class="alert alert-danger">{{(result.err_name)}}</p>

      <div class="form-group">
        <label for="сontact-email">Ваш Email</label>
        <input type="text" class="form-control" required ngControl="email" #email="ngForm" id="сontact-email">

        <div *ngIf="email.control.hasError('required') && email.control.touched" class="alert alert-danger">
          email is required
        </div>
      </div>
      <p [hidden]="!result.err_email" class="alert alert-danger">{{(result.err_email)}}</p>

      <div class="form-group">
        <label for="сontact-subject">Тема</label>
        <input type="text" class="form-control" required ngControl="subject" #subject="ngForm" id="сontact-subject">

        <div *ngIf="subject.control.hasError('required') && subject.control.touched" class="alert alert-danger">
          subject is required
        </div>
      </div>
      <p [hidden]="!result.err_subject" class="alert alert-danger">{{(result.err_subject)}}</p>

      <div class="form-group">
        <label for="сontact-body">Сообщение</label>
        <textarea type="text" class="form-control" rows="6" required ngControl="body" #body="ngForm" id="сontact-body"></textarea>

        <div *ngIf="body.control.hasError('required') && body.control.touched" class="alert alert-danger">
          body is required
        </div>
      </div>
      <p [hidden]="!result.err_body" class="alert alert-danger">{{(result.err_body)}}</p>

      <button type="submit" class="btn btn-primary" [disabled]="!contactForm.valid">Отправить</button>
    </form>
  </div>
</div>

<div [hidden]="!submitted">
  <h2>Успешно отправлено</h2>
  <p class="alert alert-success">{{(result.message)}}</p>
</div>
