<loading-indicator></loading-indicator>

<div class="page-header">
  <h1>Обратная связь</h1>
</div>

<div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>

<div class="row">
  <div class="col-sm-6" [hidden]="submitted">
    <form (ngSubmit)="onSubmit(contactForm.value)" [formGroup]="contactForm" #f="ngForm">

      <div class="form-group">
        <label for="сontact-name">Ваше имя</label>
        <input type="text" class="form-control" formControlName="name" required id="сontact-name">

        <div *ngIf="contactForm.controls['name'].hasError('required') && contactForm.controls['name'].touched"
             class="alert alert-danger">
          name is required
        </div>
        <div *ngIf="contactForm.controls['name'].hasError('minlength') && contactForm.controls['name'].touched"
             class="alert alert-danger">
          name is too short
        </div>
        <div *ngIf="contactForm.controls['name'].hasError('maxlength') && contactForm.controls['name'].touched"
             class="alert alert-danger">
          name is too long
        </div>
      </div>
      <p [hidden]="!result.err_name" class="alert alert-danger">{{(result.err_name)}}</p>

      <div class="form-group">
        <label for="сontact-email">Ваш Email</label>
        <input type="text" class="form-control" formControlName="email" required id="сontact-email">

        <div *ngIf="contactForm.controls['email'].hasError('required') && contactForm.controls['email'].touched"
             class="alert alert-danger">
          email is required
        </div>
      </div>
      <p [hidden]="!result.err_email" class="alert alert-danger">{{(result.err_email)}}</p>

      <div class="form-group">
        <label for="сontact-subject">Тема</label>
        <input type="text" class="form-control" formControlName="subject" required id="сontact-subject">

        <div *ngIf="contactForm.controls['subject'].hasError('required') && contactForm.controls['subject'].touched"
             class="alert alert-danger">
          subject is required
        </div>
      </div>
      <p [hidden]="!result.err_subject" class="alert alert-danger">{{(result.err_subject)}}</p>

      <div class="form-group">
        <label for="сontact-body">Сообщение</label>
        <textarea type="text" class="form-control" rows="6" formControlName="body" required
                  id="сontact-body"></textarea>

        <div *ngIf="contactForm.controls['body'].hasError('required') && contactForm.controls['body'].touched"
             class="alert alert-danger">
          body is required
        </div>
      </div>
      <p [hidden]="!result.err_body" class="alert alert-danger">{{(result.err_body)}}</p>

      <button type="submit" class="btn btn-primary" [disabled]="!contactForm.valid">Отправить</button>
    </form>
  </div>
</div>

<div [hidden]="!submitted">
  <h2>Успешно отправлено</h2>
  <p class="alert alert-success">{{(result.message)}}</p>
</div>
