      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" [routerLink]="['index']">{{title}}</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a [routerLink]="['players']">Игроки</a></li>
            <li><a [routerLink]="['abyss']">Abyss</a></li>
            <li><a [routerLink]="['legions']">Легионы</a></li>
            <li><a [routerLink]="['contact']">Контакты</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li dropdown *ngIf="isAdmin()">
              <a href="#" dropdownToggle>Админка <span class="caret"></span></a>
              <ul class="dropdown-menu" dropdownMenu role="menu">
                <li><a [routerLink]="['account']" *ngIf="isAdmin()">Аккаунты</a></li>
                <li><a [routerLink]="['balances']" *ngIf="isAdmin()">Балансы</a></li>
                <li><a [routerLink]="['shop']" *ngIf="isAdmin()">Магазин</a></li>
                <li><a [routerLink]="['transactions']" *ngIf="isAdmin()">Транзакции</a></li>
              </ul>
            </li>
            <li><a [routerLink]="['signup']" *ngIf="!(getLoggedIn() | async)">Регистрация</a></li>
            <li><a [routerLink]="['exchange']" *ngIf="getLoggedIn() | async">Обменник</a></li>
            <li><a [routerLink]="['char']" *ngIf="getLoggedIn() | async">Мои персонажи</a></li>
            <li><a [routerLink]="['history']" *ngIf="getLoggedIn() | async">История</a></li>
            <li><a [routerLink]="['login']" *ngIf="!(getLoggedIn() | async)">Вход</a></li>
            <li><a href="#" (click)="logout()" *ngIf="getLoggedIn() | async">Выход ({{getUserName()}})</a></li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
