      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" [routerLink]="['index']">{{title}}</a>
        </div>
        <div class="collapse navbar-collapse" [collapse]="isCollapsed">
          <ul class="nav navbar-nav">
            <li [routerLinkActive]="['active']"><a [routerLink]="['players']">Игроки</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['abyss']">Abyss</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['legions']">Легионы</a></li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['contact']">Контакты</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li dropdown *ngIf="isAdmin()">
              <a href="#" dropdownToggle>Админка <span class="caret"></span></a>
              <ul class="dropdown-menu" dropdownMenu role="menu">
                <li [routerLinkActive]="['active']"><a [routerLink]="['/admin/account']" *ngIf="isAdmin()">Аккаунты</a></li>
                <li [routerLinkActive]="['active']"><a [routerLink]="['/admin/balances']" *ngIf="isAdmin()">Балансы</a></li>
                <li [routerLinkActive]="['active']"><a [routerLink]="['/admin/shop']" *ngIf="isAdmin()">Магазин</a></li>
                <li [routerLinkActive]="['active']"><a [routerLink]="['/admin/transactions']" *ngIf="isAdmin()">Транзакции</a></li>
                <li [routerLinkActive]="['active']"><a [routerLink]="['/admin/players']" *ngIf="isAdmin()">Персонажи</a></li>
              </ul>
            </li>
            <li [routerLinkActive]="['active']"><a [routerLink]="['char']" *ngIf="getLoggedIn() | async">Мои персонажи</a></li>
            <li><a [routerLink]="['signup']" *ngIf="!(getLoggedIn() | async)">Регистрация</a></li>
            <li><a [routerLink]="['login']" *ngIf="!(getLoggedIn() | async)">Вход</a></li>
            <li dropdown *ngIf="getLoggedIn() | async">
              <a href="#" dropdownToggle>{{getUserName()}} <span class="caret"></span></a>
              <ul class="dropdown-menu" dropdownMenu role="menu">
                <li [routerLinkActive]="['active']"><a [routerLink]="['pass']" *ngIf="getLoggedIn() | async">Пароль</a></li>
                <li><a href="#" (click)="logout()" *ngIf="getLoggedIn() | async">Выход</a></li>
              </ul>
            </li>
          </ul>
        </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
