<div class="navbar navbar-static-top navbar-inverse">
  <top-menu></top-menu>
</div><!-- /.navbar -->

<div class="container">

  <div class="row">

    <div class="col-xs-12 col-sm-9">
    
      <loading-indicator></loading-indicator>
      <router-outlet></router-outlet>

    </div><!--/span-->

    <div class="col-xs-6 col-sm-3">

      <my-balance></my-balance>
      <user-menu></user-menu>
      <stat></stat>
      <rates></rates>

    </div><!--/span-->
  </div><!--/row-->
  <hr>
  <footer>
    <p>&copy; {{name}} 2016. Built with Angular and Bootstrap</p>
  </footer>
</div><!--/.container-->
