table.m-grid th {
    background-color: #9bc2e6;
}

table.m-grid th:hover {
    background-color: #5b9bd5;
    cursor: pointer;
}
.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}
.ng-invalid[required], .ng-invalid[required]:focus {
  border-left: 5px solid #a94442; /* red */
}