<h1 class="page-header">Транзакции</h1>

<div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>

<p-dataTable [value]="items" [lazy]="true" [rows]="perPage" [paginator]="true" [totalRecords]="totalRecords"
             (onLazyLoad)="loadData($event)" selectionMode="single" [(selection)]="selectedItem"
             (onRowSelect)="onRowSelect($event)">
  <p-column field="id" header="ID" [sortable]="true" [filter]="true"></p-column>
  <p-column field="ip" header="Ip" [sortable]="true" [filter]="true"></p-column>
  <p-column field="login" header="Login" [sortable]="true" [filter]="true"></p-column>
  <p-column field="char_name" header="Char name" [sortable]="true" [filter]="true"></p-column>
  <p-column field="item_type" header="Item type" [sortable]="true" [filter]="true"></p-column>
  <p-column field="item_name" header="Item name" [sortable]="true" [filter]="true"></p-column>
  <p-column field="count" header="Count" [sortable]="true" [filter]="true"></p-column>
  <p-column field="price_one" header="Price one" [sortable]="true" [filter]="true"></p-column>
  <p-column field="price_final" header="Price final" [sortable]="true" [filter]="true"></p-column>
  <p-column field="trans_date" header="Trans date" [sortable]="true" [filter]="true"></p-column>
</p-dataTable>

