<div class="page-header">
        <h1>Регистрация</h1>
</div>

<loading-indicator></loading-indicator>

<div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>

<div class="row">
  <div class="col-sm-6" [hidden]="submitted">
    <form (ngSubmit)="onSubmit(signupForm.value)" [ngFormModel]="signupForm">

      <div class="form-group">
        <label for="name">Логин</label>
        <input type="text" class="form-control" required ngControl="name"  #name="ngForm" >
        <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                <p *ngIf="name.control.hasError('required')">Name is required.</p>
                <p *ngIf="name.control.hasError('minlength')">Name is too short.</p>
                <p *ngIf="name.control.hasError('maxlength')">Name is too long.</p>
        </div>
      </div>
      <p [hidden]="!result.err_name" class="alert alert-danger">{{(result.err_name)}}</p>
      
        <div class="form-group">
            <label for="password">Пароль</label>
            <input type="text" class="form-control" required ngControl="password"  #password="ngForm" >
            <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
              Password is required
            </div>
        </div>

      <div class="form-group">
            <label for="password_repeat">Ещё раз пароль</label>
            <input type="text" class="form-control" required ngControl="password_repeat"  #password_repeat="ngForm" >
            <div [hidden]="password_repeat.valid || password_repeat.pristine" class="alert alert-danger">
              Password_repeat is required
            </div>
      </div>
       <p [hidden]="!result.err_password" class="alert alert-danger">{{(result.err_password)}}</p>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" required ngControl="email"  #email="ngForm" >
        <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
            Enter a valid email.
        </div>
      </div>
      <p [hidden]="!result.err_email" class="alert alert-danger">{{(result.err_email)}}</p>

        <button type="submit" class="btn btn-primary" [disabled]="!signupForm.valid">Зарегистрироваться</button>
    </form>
  </div>
</div>

  <div [hidden]="!submitted">
    <h2>Успешная регистрация</h2>
    <p class="alert alert-success">{{(result.message)}}</p>
  </div>
