
<div class="page-header">
  <h1>Регистрация</h1>
</div>

<div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>

<div class="row">
  <div class="col-sm-6" [hidden]="submitted">
    <form (ngSubmit)="onSubmit(signupForm.value)" [formGroup]="signupForm" #f="ngForm">

      <div class="form-group">
        <label for="name">Логин</label>
        <input type="text" class="form-control" required formControlName="name" id="name">

        <div *ngIf="signupForm.controls['name'].hasError('required') && signupForm.controls['name'].touched"
             class="alert alert-danger">
          name is required
        </div>
        <div *ngIf="signupForm.controls['name'].hasError('minlength') && signupForm.controls['name'].touched"
             class="alert alert-danger">
          name is too short
        </div>
        <div *ngIf="signupForm.controls['name'].hasError('maxlength') && signupForm.controls['name'].touched"
             class="alert alert-danger">
          name is too long
        </div>
      </div>
      <p [hidden]="!result.err_name" class="alert alert-danger">{{(result.err_name)}}</p>

      <div class="form-group">
        <label for="password">Пароль</label>
        <input type="text" class="form-control" required formControlName="password" id="password">

        <div *ngIf="signupForm.controls['password'].hasError('required') && signupForm.controls['password'].touched"
             class="alert alert-danger">
          Password is required
        </div>
      </div>

      <div class="form-group">
        <label for="password_repeat">Ещё раз пароль</label>
        <input type="text" class="form-control" required formControlName="password_repeat" id="password_repeat">

        <div *ngIf="signupForm.controls['password'].hasError('required') && signupForm.controls['password'].touched"
             class="alert alert-danger">
          Password is required
        </div>
      </div>
      <p [hidden]="!result.err_password" class="alert alert-danger">{{(result.err_password)}}</p>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" required formControlName="email" id="email">

        <div *ngIf="signupForm.controls['email'].hasError('required') && signupForm.controls['email'].touched"
             class="alert alert-danger">
          email is required
        </div>
      </div>
      <p [hidden]="!result.err_email" class="alert alert-danger">{{(result.err_email)}}</p>

      <button type="submit" class="btn btn-primary" [disabled]="!signupForm.valid">Зарегистрироваться</button>
    </form>
    
  </div>
</div>

<div [hidden]="!submitted">
  <h2>Успешная регистрация</h2>
  <p class="alert alert-success">{{(result.message)}}</p>
</div>
