<h1 class="page-header">Аккаунты</h1>

<loading-indicator></loading-indicator>

<div class="alert alert-danger" role="alert" *ngIf="errorMessage">{{errorMessage}}</div>
<p>
<button type="button" class="btn btn-primary" (click)="showDialogToAdd()" label="Add"><i class="fa fa-plus"></i> Добавить</button>
</p>

<p-dataTable [value]="items" [lazy]="true" [rows]="perPage" [paginator]="true" [totalRecords]="totalRecords" (onLazyLoad)="loadData($event)" selectionMode="single" [(selection)]="selectedItem" (onRowSelect)="onRowSelect($event)">
    <p-column field="id" header="ID" [sortable]="true" [filter]="true"></p-column>
    <p-column field="name" header="Name" [sortable]="true" [filter]="true"></p-column>
    <p-column field="activated" header="Activated" [sortable]="true" [filter]="true"></p-column>
    <p-column field="access_level" header="Access_level" [sortable]="true" [filter]="true"></p-column>
    <p-column field="membership" header="Membership" [sortable]="true" [filter]="true"></p-column>
</p-dataTable>

<p-dialog header="Details" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="item">
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="name">Name</label></div>
            <div class="ui-grid-col-8"><input pInputText id="name" required [(ngModel)]="item.name" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="activated">Activated</label></div>
            <div class="ui-grid-col-8"><input pInputText id="activated" [(ngModel)]="item.activated" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="access_level">Access_level</label></div>
            <div class="ui-grid-col-8"><input pInputText id="access_level" [(ngModel)]="item.access_level" /></div>
        </div>
        <div class="ui-grid-row">
            <div class="ui-grid-col-4"><label for="membership">Membership</label></div>
            <div class="ui-grid-col-8"><input pInputText id="membership" [(ngModel)]="item.membership" /></div>
        </div>
    </div>
    <footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete"></button>
            <button type="button" pButton icon="fa-check" (click)="save()" label="Save"></button>
        </div>
    </footer>
</p-dialog>
